
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body style="text-align:center; background-color: rgb(0,0,0); border-collapse:collapse; padding-top:100px;">
    <nav class="navbar navbar-default navbar-fixed-top">
        <header>
            <div style="padding-top:20px; padding-bottom:5px; background-color:rgb(90, 90, 90);" class="row">
                <div class="col-md-1"></div>
                <div class="col-md-1"><h2>@ViewBag.Title</h2></div>
                <div class="col-md-7"></div>
                <div class="col-md-1"><a style="width:100%; padding-top:10px;" class="btn btn-info btn-default" href="/" role="button">Home</a></div>
                <div class="col-md-1"><a style="width:100%; padding-top:10px;" class="btn btn-info btn-default" href="/Home/About" role="button">About</a></div>
                <div class="col-md-1"><a style="width:100%; padding-top:10px;" class="btn btn-info btn-default" href="/Home/Contact" role="button">Contact</a></div>
            </div>
        </header>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
