
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> <h2 style="text-align:center;">This is an "About" page, and this is its headline.</h2>
        <p style="color:rgb(20,0,150); text-align:left;">This is some sampletext on this page</p>
    <p style="color:rgb(20,255,50); text-align:right;">This is some more sampletext on this page</p>
    </div>
</body>
</html>
