
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container"> 
        <button class="btn btn-info btn-block" type="button">Home</button>
        <button class="btn btn-info btn-block" type="button">About</button>
        <p>Tjo</p>
    </div>
    <div>
        <p>Tja</p>
    </div>
</body>
</html>
